	<div class="container">

		
			<div class="sub-content">

				<h1><strong>About</strong> page</h1>

				<a href="/" class="button">Go back to the homepage</a>

			</div>

		
	</div>

</section><!-- end hero -->