	<section class="container">

  <h2>Let's get started!</h2>

  <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="kd6OQLccjqBjuRp9ypDaklqKzKGqNrUh/n8JFhuZdlH+QDkYmiDbZfs59Zbxh+Q3pGp8RfSoiNBq3eaLil82Qg==" />
    

    <label for="user_email">Email</label>
    <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />

    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username" />

    <label for="user_password">Password</label>
    <input autocomplete="off" type="password" name="user[password]" id="user_password" />

    <label for="user_password_confirmation">Password confirmation</label>
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />

    <input type="submit" name="commit" value="Sign up" />

</form>
  <div class="shared-links">

	  Already signed up? <a href="/users/sign_in">Log in</a><br />






</div>

</section>
