<footer align="center">
<div class="social">
<a href="https://twitter.com/devnowio"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a> 
<a href="https://www.linkedin.com/company/devnowio"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a>
<a href="https://www.facebook.com/pg/Devnow-1119638658183954"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
</div>
<div class="legal">© DEVNOW 2018 | <a href="#">TERMS & CONDITIONS</a> | <a href="#">PRIVACY POLICY</a></div>



</footer>