<section class="hero">

	<div class="container">

		
			<div class="sub-content">

				<h1><strong>Finally.</strong> A tool to hire the best developers remotely.</h1>

				<a href="/about" class="button" id="testbutton">See Why</a>
				<img src="/images/hand.png" align="right">
				<h2><%= @developers.count %> Developers and counting</h2>

			</div>

		
	</div>

</section><!-- end hero -->