<nav class=navbar-transparent>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/images/logowhite.png"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">For Companies</a></li>
      <li class="active"><a href="/">For Freelancers</a></li>
      <li><a href="/about">About</a></li>
      
    </ul>
  </div>
</nav>