	<div class="container">

		
			<div class="sub-content">

				<h1><strong>Oops.</strong> the page you are looking for cannot be found.</h1>

				<a href="/" class="button">Go back to the homepage</a>

			</div>

		
	</div>

</section><!-- end hero -->