
<section class="container">

<h1><%= @developer.name %></h1>
<h2><%= @developer.skill %></h2>
<h2><%= @developer.jobtitle %></h2>
<p><%= @developer.description %></p>

<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
<i class="fa fa-github fa-2x" aria-hidden="true"></i>
<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i><br>
<a href="/" class="button">Contact Developer</a>

</section>